.vehicleTypeForm {
  display: flex;
  gap: 12px;
  padding-top: 24px;
}
.vehicleTypeP{
    font-size: 20px; 
    text-align: left;
    font-weight: 600;
    font-family: var(--font-family);
    position: relative;
    padding-bottom: 24px;
}
.vehicleTypeP::after{
    content: '';
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    height: 1px;
    background-color: var(--gray-light);

}

.vehicleTypeLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px; 
  height: 90px; 
  border: 1px solid var(--gray-light); 
  border-radius: 8px;
  background-color: var(--white); 
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.vehicleTypeLabel:hover {
  border-color: var(--button-nav); 
}

.vehicleTypeInput {
  display: none; 
}

.vehicleTypeInput:checked + .vehicleTypeLabel {
  border-color: var(--button-nav); 
}

.vehicleTypeSvg {
  width: 32px;
  height: 32px;
  margin-bottom: 8px; 
}

.vehicleTypeText {
  font-size: 14px;
  color: var(--main); 
}