body, ul, h1, h2, h3, p{
  margin: 0;
  padding: 0;
}

* {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
}

ul {
    list-style-type: none;
}
a{
  text-decoration: none;
}

:root{
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button-nav: #e44848;
  --button-nav-hover: #d84343;
  --rating: #ffc531;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --font-family: "Inter", sans-serif;
}
.container{
  width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
  margin: 0 auto;

}